<h1><%= title %></h1>

<%- messages() %>
<% if (errors) { %>
  <ul class="messages">
    <% (errors.array ? errors.array() : errors).forEach(error => { %>
      <li class="error"><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<section class="account-update">
  <% if (accountData) { %>
    <form class="form" action="/account/update" method="post" novalidate>
      <fieldset>
        <legend>Account Update</legend>
        <div class="form__row">
          <label for="account_firstname">First Name</label>
          <input
            type="text"
            id="account_firstname"
            name="account_firstname"
            value="<%= typeof account_firstname !== 'undefined' ? account_firstname : accountData.account_firstname %>"
            required
            minlength="1"
            autocomplete="given-name"
          />
        </div>
        <div class="form__row">
          <label for="account_lastname">Last Name</label>
          <input
            type="text"
            id="account_lastname"
            name="account_lastname"
            value="<%= typeof account_lastname !== 'undefined' ? account_lastname : accountData.account_lastname %>"
            required
            minlength="2"
            autocomplete="family-name"
          />
        </div>
        <div class="form__row">
          <label for="account_email">Email</label>
          <input
            type="email"
            id="account_email"
            name="account_email"
            value="<%= typeof account_email !== 'undefined' ? account_email : accountData.account_email %>"
            required
            autocomplete="email"
          />
        </div>
        <input type="hidden" name="account_id" value="<%= accountData.account_id %>" />
        <div class="form__row">
          <button type="submit">Update Account</button>
        </div>
      </fieldset>
    </form>

    <form class="form" action="/account/update/password" method="post" novalidate>
      <fieldset>
        <legend>Change Password</legend>
        <p class="form__hint">Enter a new password to replace your current one. Password must be at least 12 characters and include upper and lower case letters, a number, and a symbol.</p>
        <div class="form__row">
          <label for="account_password">New Password</label>
          <input
            type="password"
            id="account_password"
            name="account_password"
            required
            minlength="12"
            autocomplete="new-password"
          />
        </div>
        <input type="hidden" name="account_id" value="<%= accountData.account_id %>" />
        <div class="form__row">
          <button type="submit">Change Password</button>
        </div>
      </fieldset>
    </form>
  <% } else { %>
    <p>Account information unavailable.</p>
  <% } %>
</section>
